<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <span class="brand-logo">
        <a [routerLink]="['']">Media App</a>
      </span>
      <ul class="right">
        <li>
          <a [routerLink]="['/movies']">Movies</a>

        </li>
        <li>
          <a [routerLink]="['/tvshows']">Tv Shows</a>
        </li>
      </ul>
    </div>
  </nav>
</div>