<h2>Login</h2>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <div class="row">
    <div class="input-field col s6">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" ngModel required />

    </div>
    <div class="input-field col s6">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel required />

    </div>
  </div>
  <button class="btn" type="submit">Login</button>
</form>
