<div class="media-item" (click)="selected.emit(media)">
  <img [src]="media.poster" [alt]="media.title" />
  <section>
    <span class="title">{{media.title}}</span>
    <p>{{media.year}}</p>
  </section>
</div>