<h2>The collection</h2>
<media-app-search (searched)="searchMovie($event)"></media-app-search>
<div class="switch">
  <label>
    Public
    <input type="checkbox" [(ngModel)]="onlyPrivate" (change)="getMovies()">
    <span class="lever"></span>
    Private
  </label>
</div>
<ul class="collection" *ngIf="movies$ | async as movies">
  <li class="collection-item" *ngFor="let movie of movies">
    <media-app-media [media]="movie" (selected)="showDetails($event)"></media-app-media>
  </li>
</ul>