<main>
  <h1>Add a movie to your collection</h1>
  <media-app-search (searched)="lookUpMovie($event)"></media-app-search>
  <div class="switch">
    <label>
      Private
      <input type="checkbox" [(ngModel)]="public">
      <span class="lever"></span>
      Public
    </label>
  </div>
  <div *ngIf="searchResults$ | async as searchResults">
    <h2>Search results</h2>

    <ul class="collection">
      <li class="collection-item avatar" *ngFor="let movie of searchResults">
        <a class="btn" (click)="addToCollection(movie)">Add to collection</a>
        <media-app-media [media]="movie" ></media-app-media>
      </li>
    </ul>
  </div>
</main>
