<main>
  <h1>Add a tv show to your watchlist</h1>
  <media-app-search (searched)="lookUpTvShow($event)"></media-app-search>

  <div *ngIf="searchResults$ | async as searchResults">
    <h2>Search results</h2>
    <ul class="collection">
      <li class="collection-item avatar" *ngFor="let show of searchResults">
        <media-app-media [media]="show" (selected)="addToCollection($event)"></media-app-media>
      </li>
    </ul>
  </div>
</main>