<h2>Watch List</h2>
<ul class="collection" *ngIf="tvShows$ | async as tvShows">
  <li class="collection-item" *ngFor="let show of tvShows">
    <media-app-media [media]="show"></media-app-media>
  </li>
</ul>