<h1>Welcome to the media app</h1>

<div class="card-panel teal">
  <span class="white-text">
    <a [routerLink]="['/movies/add']">Add a new movie</a>
  </span>
</div>

<div class="card-panel teal">
  <span class="white-text">
    <a [routerLink]="['/tvshows/search']">Search for a new tv show</a>
  </span>
</div>